
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../Styles/styles1.css">
<head>
 <meta charset="utf-8">
 <link rel="icon" type="image/x-icon" href="images/favicon.ico">
 <title>Bataille navale</title>
  <style>

      body {
        background-image: url('images/Battle.jpg');
      }
      h2{
        display:inline-table;
        float:left;
        align-items: left;
        }
      h3{
        display:inline;
        float:left;
        }
    </style> 
</head>
<body>
<div id="menu">
  
        <li>
          <a href="home.html" class="actif"><h2>Accueil</h2> </a>
        </li>
        <li>
          <a href="create_game.html"><h2>Creer une partie</h2></a>
        </li>
        <li>
          <a href="join_game.html"><h2>Rejoindre une partie</h2></a>
        </li>
        <li>
          <a href="manage_fleet.html"><h2>Creez votre flotte</h2></a>
        </li>
        <li>
          <a href="play_game.html"><h2>Jouer</h2></a>
        </li>
  
</div>
<div class="centered-element">
 <h1>Bataille Navale</h1>

</div>
</body>
</html>