<div id="menu">
  
  <li>
    <a href="home.html" class="actif">Accueil </a>
  </li>
  <li>
    <a href="create_game.html">Creer une partie</a>
  </li>
  <li>
    <a href="join_game.html">Rejoindre une partie</a>
  </li>
  <li>
    <a href="manage_fleet.html">Creez votre flotte</a>
  </li>
  <li>
    <a href="play_game.html">Jouer</a>
  </li>

</div>
<center>
<div class="vertical-container">
    <div class="form-result" id="create-game-result"></div>
    <div class="centered-form">
    <form id="create-game-form">
    <label for="player-name"><br>Ton pseudo:</label><br>
    <input type="text" id="player-name" name="player_name" required><br><br>
    <label for="game-id">Identifiant de la partie: </label><br>
    <input type="int" id="game-id" name="game_id" required><br><br>

    
    </form>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="join_game.css">

    <script defer src="join_game.js"></script>
</head>
<body>
    <button class="btn" id="btn">Valider</button>
    <div class="img" id="img">
<h1>Vous avez rejoint la partie avec succès ! <br>
     <u> 
    <li>
      <a href="manage_fleet.html">Gerer votre flot!</a>
    </li></u></h1>
    </div>
</body>
</center>
</div>
    <style>

        body {
          background-image: url('images/Battle.jpg');
        }
      </style>   
   </div>
   